/*change*/

main {
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
margin: 0 auto;
}

body {
  font-family: Open Sans;
  width: 100%;
}

.input-section {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: 
  background-color: #E5F3F2;
  height: 23rem;
  width: 100%;
  padding: 1.5em 0 .1em 0;
}

h1 {
  color: #00A79D;
  font-family: Roboto Slab;
  font-size: 4rem;
  text-align: center;
}

.test{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

span {
  color: #6D6E71;
}

.save-button {
  background-color: #00A79D;
  font-size: 2rem;
  font-color: lightgrey;
  padding-bottom: .5rem;
  color: #FFFFFF;
  width: 20rem;
}

.save-button:hover {
  background-color: #045E55;
}

input {
  /*font-size: 2em;*/
  outline: none;
  border: 2px solid lightgrey;
  color: lightgrey;
  font-size: 2rem;
}

/*Idea Styles Sara*/

section {
  display: wrap;
  width: 100%;
  justify-content: center;

}

section .idea-section {
  font-family: 'Open Sans', sans-serif;
  width: 50%;
}

.title-line-parent-container {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: #6D6E71;
}

p .idea-body {
  color: #939598;
}

.quality-line-parent-container {
  display: flex;
  justify-content: flex-start;
  color: #6d6e71;
}

br {
  color: #D1D3D4;
}


