/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/*Idea Styles*/

section {
  display: wrap;
  width: 100%;
  justify-content: center;

}

section .idea-section {
  font-family: 'Open Sans', sans-serif;
  width: 50%;
}

.title-line-parent-container {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: #6D6E71;
}

p .idea-body {
  color: #939598;
}

.quality-line-parent-container {
  display: flex;
  justify-content: flex-start;
  color: 6d6e71;
}

br {
  color: D1D3D4;
}